# Devenv
.devenv*
devenv.local.nix

# This is managed automatically by devenv
.pre-commit-config.yaml

# direnv
.direnv

# MacOS bullshit
.DS_Store

# VSCode caches
.vscode/*
# But keep settings
!.vscode/settings.json